<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.io</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="chat">
        <div id="chat_header">
            <h2>Chat Room</h2>
        </div>
        <div id="chatbox">
        </div>
        <div class="inp_btn">
            <input type="text" id="message_input" placeholder="Type your message...">
            <button id="send_btn">Send</button>
        </div>
    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        
    </script>
    <script src="./js/script.js"></script>
</body>
</html>